.cards__retreat {

    padding-top: 20px;

}



/*page2-portfolio*/
.cards {
    flex-wrap: wrap;
}

.cards__foto:hover,
.cards__foto:focus {
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}
.cards__foto:hover .cards__text {
    transform: translateY(0);
    opacity: 1;
}

.cards__foto:focus .cards__text {
    transform: translateY(0);
    opacity: 1;
}
.cards__item {
    position: relative;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    & a {
    display: block;}
    
}
.cards__item{
@media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0px;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }
}}

.cards__cover {
    display: flex;
    position: relative;
    overflow: hidden;
}

.cards__picture {
    display: block;
    max-width: 100%;
    height: auto;
}

.cards__text {
    position: absolute;
    top: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    /* transform: translate(50%, 50%); */
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--adress-color);
    max-width: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55;
    /* or 156% */
    transition: transform 250ms;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.03em;
    opacity: 0;
    transform: translateY(100%);

}

.cards__job {
    justify-content: start;
    font-family: Roboto;
    margin-bottom: 4px;
    padding-left: 24px;
    font-weight: 700;
    /* font-size: 18px; */
    line-height: 36px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.cards__menu {
    font-family: Roboto;
    margin-top: 0px;
    padding-left: 24px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);

}
