.client--parameters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__text {

    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.client__list {
    
    // display: flex;
    width: 480px;
    padding-left: 0px;
    text-decoration: none;
    list-style: none;

}

.client__company {
    display: inline-block;
    // width: calc((100% - 2 * 30px) / 2);
    
    // margin-right: 30px;
    border-radius: 4px;
    width: 208px;
    height: 92px;
    &:nth-child(2n+1){
        margin-left: 14px;
    }
    &:nth-child(2n){
        margin-right: 15px;
        margin-left: 30px;
    }
        @media screen and (min-width: 1200px) {
            width: 170px;
            height: 92px;
            &:last-child {
                margin-right: 0px;
            }
        }
}


.client__link {
    display: flex;
    width: 100%;
    fill: #afb1b8;
    border: 1px solid #AFB1B8;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    transition-property: fill,
        background-color,
        border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    fill: #2196F3;
    border: 1px solid #2196F3;
    fill: var(--hover-effect-color);
    cursor: pointer;}
}

.client__icon {
    display: flex;
    background-position: 50% 50%;
    &:hover,
    &:focus {
    fill: #2196F3;}
}

.client__picture {

    width: 106px;
    height: 92px;


}
