.container {
    min-width: 450px;
    margin-left: 15px;
    margin-right: 15px;
    margin: auto;
    @media screen and (min-width: 768px){
        min-width: 768px;
    }
    @media screen and (min-width: 1200px) {
           width: 1200px;
           padding-left: 15px;
           padding-right: 15px;
    }

    
}
.main{
    width: 100%;
    
}
.feature {
    /*padding-bottom: 94px;*/
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    display: block;
    text-decoration: none;
    list-style: none;
}
.list {
    
    /* margin-bottom: 94px; */
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;
    & a {
    list-style-type: none;
    list-style: none;}
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px){
            display: flex;
        }
}
.pagge::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--hover-effect-color);
    position: absolute;
    bottom: -30px;
    left: 0;
    border-radius: 2px;

}
.last {
    margin-right: 0px;
}
.portfolio {
    border-bottom: 1px solid #ECECEC;

}