.gallery__menu {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.gallery__item {
    margin-right: 8px;
    &:last-child {
    margin-right: 0px;}
    @media screen and (max-width: 480px){
        margin-bottom: 15px;
    }
}

.gallery--size {
    padding-top: 94px;
    padding-bottom: 94px;
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    list-style: none;
    text-decoration: none;
    padding-inline-start: 0px;
        @media screen and (min-width: 1200px){
            margin-bottom: 50px;
            justify-content: center;
        }
}
.gallery__button {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px 6px 22px;
    color: var(--primary-title-color);
    background-color: #F5F4FA;
    border-color: transparent;
    &:hover,
    &:focus {
    color: var(--adress-color);
    background-color: var(--hover-effect-color);}
}
