.prezent--retreat {
    display: none;

     @media screen and (min-width: 1200px){
         display: flex;
         padding-bottom: 94px;}
}

.prezent {
    
     @media screen and (min-width: 1200px){
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: auto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;}
}
